

/* General CSS */

* {
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 100%;
	height: 100%;
}

a {
	color: #000;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: #000;
	/*font-weight: 600;*/
}

button {
    width: 250px;
    display: block;
    margin: auto;
    padding: 12px;
    border: 2px solid black;
}

button:hover {
	cursor: pointer;
}

section {
	margin: 20px 50px;
}

.form-control {
    border-radius: 0;
}

textarea, input {
    border: 1px solid #ced4da;
}

/* Header */

#header {
	height: 75px;
	min-height: 50px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: #f2faf9;
	border-bottom: 3px solid #717872;
}

#header nav ul li {
    list-style-type: none;
    float: left;
    margin: 0px 30px;
}

/*.color-bar {
	width: 15px;
}

#intro-color-bar-1 {
	color: #e16ea9;
}*/


/* Intro */

#est-new-patient .row .col {
	text-align: center;
	margin-top: 30px;
}

#cheif-complaint .row {
    margin: 60px 40px;
}

#cheif-complaint label.col-sm-4.control-label {
    text-align: right;
    padding-top: 8px;
}

#cheif-complaint .col-sm-8 {
    float: right;
}


/* Problem */

.section-title {
	text-align: center;
	color: #515453;
}

.sub-section-title {
	font-weight: bold;
	margin-top: 75px;
}

#problem fieldset {
	margin: 15px 25px;
}

.problem-q {
	margin: 20px 0;
}

.plus-button img {
	height: 29px;
}

input.problem-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
}

input.problem-input {
    margin-left: 25px;
    margin-right: 10px;
    width: 90%;
}

.points-total {
	font-weight: bold;
	float: right;
	margin: 50px 200px 200px 0;
}



/* Data Reviewed */

#data-reviewed {
    clear: both;
}

#data-reviewed fieldset {
    margin: 15px 25px;
}

.data-reviewed-q {
    margin: 20px 0;
}

input.data-reviewed-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
}

input.data-reviewed-input {
    margin-left: 25px;
    margin-right: 10px;
    width: 90%;
}

textarea.data-reviewed-input {
    margin-left: 25px;
    margin-right: 10px;
    width: 90%;
}


/* Risk To Patient */

#risk-to-patient {
	clear: both;
}

#risk-to-patient fieldset {
    margin: 15px 25px;
}

.risk-to-patient-q {
	margin: 20px 0;
}

#risk-to-patient label {
    padding-top: 8px;
}

select#risk {
    width: 70%;
    float: right;
}


/* MDM Results */

#mdm-results {
	clear: both;
}

#mdm-results h3 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}

table.tftable {
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

button#gen-target-code {
    margin: 100px auto;
    border: 5px solid black;
}

.next-section {
    margin-top: 200px;
}

.next-section a {
    width: 250px;
    display: block;
    margin: auto;
    padding: 12px;
    border: 2px solid black;
    text-align: center;
}

#next-section-history a {
    background-color: #f4efb6;
}


/* Arrow Down */

.arrow-down {
    text-align: center;
    margin: 20px 0 500px 0;
}

i {
  border: solid black;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 40px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* History */

.level {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

/* HPI */

h5#hpi-title {
    margin-bottom: 50px;
}

form#HPIform .form-group.col-sm-12 {
    margin-bottom: 30px;
}

form#HPIform .col-sm-10 {
    float: right;
}

form#HPIform .form-group.col-sm-6 {
    float: left;
}

form#HPIform .col-sm-8 {
    float: left;
}

form#HPIform label.col-sm-4.control-label {
    float: left;
}

input.HPIElement {
    margin-bottom: 20px;
}

.add-notes {
    margin: 20px 0 40px 40px;
    font-weight: bold;
}

input.add-notes-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
}

textarea.add-notes-input {
    margin-left: 25px;
    margin-right: 10px;
    width: 90%;
}

/* PFSH */

/* Section 1 */

h5#pfsh-title {
    margin-bottom: 40px;
}

#pfsh-form p {
    text-align: center;
    margin-bottom: 40px;
    color: #515453;
}

form#pfsh-form .col-sm-10, form#pfsh-form .col-sm-8  {
    float: left;
}

form#pfsh-form label.col-sm-4.control-label, form#pfsh-form label.col-sm-2.control-label {
    float: left;
}

textarea.pfsh-element {
    margin-bottom: 20px;
}

.pfsh-bold {
    font-weight: bold;
}

/* Section 2 */

section #pfsh-sect2 .form-group.col-sm-6 {
    float: left;
    margin-bottom: 25px;
}

section#pfsh-sect2 {
    margin: 40px 10%;
}

input.pfsh-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
}

.pfsh-sect2-q {
    margin-bottom: 25px;
    line-height: .5;
}

input.pfsh-sect2-input {
    width: 90%;
    margin-left: 20px;
}

input#pfsh-q17 {
    margin-bottom: 25px;
}

/* ROS */

h5#ros-title {
    margin-bottom: 25px;
}

#ros p {
    line-height: .25;
    color: #515453;
    font-size: 14px;
}

section #ros-sect1 .form-group.col-sm-6 {
    float: left;
}

section#ros-sect1 {
    margin: 30px 8% 40px 17%;

}

section#ros-sect1 h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.ros-sect {
    margin-top: 30px;
}

.ros-q {

}

input.ros-checkbox {
    margin-right: 10px;
    margin-bottom: 15px;
}

#constitutional {
    margin-bottom: 63px;
}

#ros-not p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

#ros-row1 {
    margin-bottom: 40px;
}

#ros-not {
    margin: 0 8% 10px 17%;
}

textarea#ros-elab {
    width: 90%;
}


/* Physical Exam */

#next-section-physical a {
    background-color: #deecc1;
    width: 260px;
}

#next-section-physical {
    margin-top: 100px;
}

section#physical-section h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

section#physical-section p {
    color: #515453;
    margin-bottom: 30px;
}

section#physical-section {
    margin: 0 8% 40px 10%;
}

/* Vital Signs */

#vital h5 {
    margin-top: 60px;
}

label.col-sm-6.control-label {
    float: left;
}

#vital .col-sm-6 {
    float: left;
    margin-bottom: 20px;
}

div#vital {
    margin-bottom: 20px;
}

/* Body Habitus */

input.body-checkbox {
    margin: 0 10px 15px 20px;
}

.body-q {
    margin-bottom: 10px;
}


/* General Appearance */

#general {
    margin-left: 70px;
}

input.general-checkbox {
    margin: 0 10px 15px 20px;
}

input.general-input {
    display: block;
    width: 90%;
    margin: 0 0 20px 40px;
}

p#general-p {
    margin-bottom: 15px !important;
}


/* Speech */

#physical-row3 {
    margin-top: -70px;
}

#speech-left h5 {
    float: left;
}

#speech-left-title-p {
    margin: 4px 0 0 3px;
}

.speech-q {
    margin-bottom: 5px;
}

p#speech-left-title-p {
    margin: 2px 0px 20px 6px !important;
    float: left;
}

p#speech-left-p {
    margin-bottom: 20px !important;
}

p#speech-right-p {
    margin-bottom: 15px !important;
}

#speech-right {
    position: absolute;
    bottom: 0 !important;
    width: 100%;
}

textarea#speech-right-text {
    width: 90%;
}

/* Thought Content */

#physical-row4 {
    margin-top: 50px;
}

.thought-q {
    margin-bottom: 5px;
}

p#thought-right-p {
    margin-bottom: 15px !important;
}

textarea#thought-right-text {
    width: 94%;
}

/* Associations */



#associations h5 {
    margin-top: 40px;
}

#associations .form-group.col-sm-3 {
    float: left;
    margin-top: 35px;
}

#associations .form-group.col-sm-9 {
    float: left;
    padding-left: 30px;
}

p#assoc-p {
    margin-bottom: 15px !important;
}

.assoc-q {
    margin-bottom: 5px;
}

textarea#assoc-text {
    width: 94%;
}

/* Risk Factors / Psychotic Thoughts */

#physical-row5 {
    margin-top: 40px;
}

.risk-q {
    margin-bottom: 5px;
}

#risk-right {
    margin-top: 70px;
}

#risk-right p {
    margin-bottom: 15px !important;
    margin-top: 15px;
}

textarea#risk-right-text {
    width: 94%;
}

/* Alert & Oriented */

#alert {
    margin-top: 40px;
}

input.alert-checkbox {
    margin: 0 10px 15px 20px;
}

input.alert-input {
    display: block;
    width: 90%;
    margin: 0 0 20px 40px;
}















