body {
	width: 100%;
	height: 100%;
}

#header {
	height: 75px;
	min-height: 50px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: #f2faf9;
	border-bottom: 3px solid #717872;
}

#header nav ul li {
    list-style-type: none;
}